<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Leistungen und Preise</h2>
        <p>
          Unsere Preise entnehmen Sie bitte der Preisliste. Gerne kombinieren wir verschiedene Anwendungen und
          Kosmetikprodukte für Sie und erstellen Ihnen individuelle Angebote.
        </p>
      </div>

      <div class="row">



        <div class="col-lg-6">
          <h3 class="resume-title">Hautpflege</h3>

          <div class="resume-item">
            <h4>Gesichtsreinigung und Massage</h4>
            <p><em>...</em></p>
            <p>
            <ul>
              <li>Reinigung der Haut</li>
              <li>Enzympeeling Entfernen von Hautunreinheiten</li>
              <li>Entsprechende Maske Abschlusspflege</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 - 90 Min.</li>
            </ul>
            </p>
            <h5>Preis: <%- pricelist.skincare_basic %> - <%- pricelist.skincare_premium %></h5>
          </div>


          <div class="resume-item">
            <h4>Microneedling</h4>
            <p>mit speziell ausgewählten Ampullen für ihren Hauttyp </p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis: <%- pricelist.microneedling %> </h5>
            <h5>Preis 3er Packet: <%- pricelist.microneedling_3pack %></h5>
          </div>

<!--
          <div class="resume-item">
            <h4>Microdermabrasion</h4>
            <p>Die effektivste und modernste Art der Peelingbehandlung Reinigung I leichtes AHA-Peeling |
              Microdermabrasion I Ampulle I Maske und Abschlusspflege</p>
            <p>
            <ul>
              <li>Hautanalyse</li>
              <li>Auswahl des Serums</li>
              <li>Peeling</li>
              <li>Massage (Dekollete / Schulter / Nacken)</li>
              <li>Dauer: 60 Min.</li>
            </ul>
            </p>
            <h5>Preis: <%- pricelist.microdermabrasion %> </h5>
            <h5>Preis 3er Packet: <%- pricelist.microdermabrasion_3pack %></h5>
          </div>
-->

        </div>


        <div class="col-lg-6">
          <!--
          <h3 class="resume-title">Augenbrauen und Wimpern</h3>
          <div class="resume-item pb-0">
            <h4>Lash Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster </em></p>
            <p>
              Beim Lash Lifting werden die Härchen mit 2 Cremes bearbeitet und in Form gebracht.
            </p>
            <h5>Preis: <%- pricelist.lash_lifting %></h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Brow Lifting </h4>
            <p><em>inklusive Färben </em></p>
            <p>
              Beim Brow Lifting werden die Augenbrauen dauerhaft fixiert.<br/>
              Augenbrauenkorrektur.
            </p>
            <h5>Preis: <%- pricelist.brow_lifting %></h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Lash Lifting & Brow Lifting </h4>
            <p><em>inklusive Färben und Keratin Booster</em></p>
            <p>
              Das Lash & Brow Lifting ist eine spezielle und neu entwickelte Methode um den Naturwimpern/Brauen einen
              dauerhaft starken Schwung nach oben zu verleihen.
            </p>
            <h5>Preis: <%- pricelist.lashbrow_lifting %></h5>
          </div>
          -->


          <h3 class="resume-title">Hopfhaut und Haarpflege</h3>
          <div class="resume-item">
            <h4>Kopfhautpflege</h4>
            <p><em>Individuelle Behandlung der Kopfhaut inkl. Entspannungsmassage</em></p>
            <p>
            </p>
            <h5>Preis: <%- pricelist.haircare_basic %></h5>
          </div>

          <div class="resume-item">
            <h4>Intensivbehandlung bei Haarausfall oder Schuppen</h4>
            <p><em>Pflegt und erneuert die innere Haarstruktur</em></p>
            <p></p>
            <h5>Preis: <%- pricelist.haircare_premium %></h5>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Resume Section -->




</main><!-- End #main -->