<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Услуги и цены</h2>
        <p>
          Наши цены можно посмотреть в прайс-листе. Мы будем рады комбинировать для вас различные приложения и
          косметические продукты и создавать для вас индивидуальные предложения.
        </p>
      </div>

      <div class="row">




        <div class="col-lg-6">
          <h3 class="resume-title">Уход за кожей</h3>

          <div class="resume-item">
            <h4>Уход за кожей <sup>(Skincare)</sup></h4>
            <p><em>со специально подобранной косметикой для вашего типа кожи.</em></p>
            <p>
            <ul>
              <li>Очищение кожи</li>
              <li>Эксфолиация</li>
              <li>Энзимный пилинг</li>
              <li>Правильный уход и маска</li>
              <li>Массаж (декольте/плеч/шеи)</li>
              <li>Длительность: 60 - 90 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.skincare_basic %> - <%- pricelist.skincare_premium %></h5>
          </div>


          <div class="resume-item">
            <h4>Микронидлинг <sup>(Microneedling)</sup></h4>
            <p><em>со специально подобранными ампулами для вашего типа кожи</em></p>
            <p>
            <ul>
              <li>Анализ кожи</li>
              <li>Очищение кожи</li>
              <li>Выбор сыворотки</li>
              <li>Пилинг</li>
              <li>Длительность: 60 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.microneedling %></h5>
            <h5>Цена 3 процедуры: <%- pricelist.microneedling_3pack %></h5>
          </div>

<!--
          <div class="resume-item">
            <h4>Микродермабразия <sup>(Microdermabrasion)</sup></h4>
            <p><em>Самый эффективный и современный вид пилинга</em></p>
            <p>
            <ul>
              <li>Анализ кожи</li>
              <li>Очищение кожи</li>
              <li>Проведение микродермабразии</li>
              <li>Ампульная маска и завершающий уход</li>
              <li>Длительность: 60 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.microdermabrasion %></h5>
            <h5>Цена 3 процедуры: <%- pricelist.microdermabrasion_3pack %></h5>
          </div>
-->

        </div>

        <div class="col-lg-6">
          <!--
          <h3 class="resume-title">Брови и Ресницы</h3>
          <div class="resume-item pb-0">
            <h4>Ламинирование ресниц <sup>Lash Lifting</sup></h4>
            <p><em>в том числе окрашивание и кератиновый бустер</em></p>
            <p>
            <ul>
              <li>При ламинировании ресниц волоски обрабатываются 2 кремами и моделируются.</li>
              <li>Длительность: 60 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.lash_lifting %></h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Ламинирование бровей <sup>Brow Lifting</sup></h4>
            <p><em>включая окрашивание</em></p>
            <p>
            <ul>
              <li>При ламинировании бровей волоски фиксируются на длительное время.</li>
              <li>Коррекция бровей.</li>
              <li>Длительность: 60 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.brow_lifting %></h5>
          </div>

          <div class="resume-item pb-0">
            <h4>Ламинирование ресниц и бровей <sup>Lash Lifting & Brow Lifting</sup></h4>
            <p><em>в том числе окрашивание и кератиновый бустер</em></p>
            <p>
            <ul>
              <li>Ламинирование — уходовая процедура, которая помогает сделать ресницы и брови красивыми, ухоженными,
                сохраняя их естественный вид. Особые составы придают волоскам нужную форму, фиксируют их в правильном
                направлении, защищают от внешних факторов и питают изнутри.</li>
              <li>Длительность: 90 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.lashbrow_lifting %></h5>
          </div>
          -->


          <h3 class="resume-title">Уход за кожей головы и волосами</h3>

          <div class="resume-item">
            <h4>Уход за кожей головы <sup>Haircare</sup></h4>
            <p><em>Индивидуальный уход за кожей головы, включая расслабляющий массаж</em></p>
            <p>
            <ul>
              <li>Анализ кожи головы</li>
              <li>Правильный уход</li>
              <li>Длительность: 60 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.haircare_basic %></h5>
          </div>

          <div class="resume-item">
            <h4>Лечение выпадения волос или перхоти <sup>Haircare</sup></h4>
            <p><em>Питает и обновляет внутреннюю структуру волос.</em></p>
            <p>
            <ul>
              <li>Анализ кожи головы</li>
              <li>Правильный уход</li>
              <li>Длительность: 90 мин.</li>
            </ul>
            </p>
            <h5>Цена: <%- pricelist.haircare_premium %></h5>
          </div>

        </div>




      </div>



    </div>
  </section><!-- End Resume Section -->






</main><!-- End #main -->